


lxml==5.3.0

numpy==1.26.4
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
optree==0.12.1

pillow==10.4.0

python-docx==1.1.2
pytz==2024.2
pywin32==306
PyYAML==6.0.2

streamlit==1.38.0
supervision==0.23.0

torch==2.4.1
torchvision==0.19.1

ultralytics==8.2.98
ultralytics-thop==2.0.6

